.backgroundLogin {
    background-image: url(../../assets/images/desktop-1920x1080.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ocupa toda a altura da tela */
    width: 100%; /* Ocupa toda a largura da tela */
   
    top: 50px; /* Altura da navbar */
    left: 0;
    z-index: -1;
  }

  .textos1{
    font-weight: bold !important;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }