.background {
    background-image: url(../../assets/images/backg2.png);
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.home{
    padding-top: 95px;
    height: 100%;
}

.welcome{
    justify-content: start;
    
}

.homeImg img{
    display: flex;
    justify-content: center;
    width: 40vw;
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@media (max-width: 600px) {
  .background{
    width: 100vh;
    height: 100vh;
  }

  .home{
    padding-top: 130px;
  }
}

