.background {
    background-image: url(../../assets/images/backg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.home{
    margin-top: 1000px;
}


@media (max-width: 600px) {
    .home{
        margin-top: 140px;
    }

    .background{
        background-position: 20%;
    }
}