@font-face {
    font-family: Roboto;
    src: url(../src/assets/font/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Roboto;
    src: url(../src/assets/font/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../src/assets/font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(../src/assets/font/Roboto-Thin.ttf);
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-weight: 400;
    font-family: Roboto;
}

@media (min-width: 1700px) {

    html,
    body {
        overflow-x: hidden;
    }
}